@inject HttpClient http
@using MCraftBlazor.Components.Common
@using Models
@using System.Text.Json


<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h3>Создание аккаунта</h3>

        @if(responseError != null && !string.IsNullOrEmpty(responseError.Message)){

        }

        <EditForm Model="userModel" OnValidSubmit="OnValidAsync">
            <DataAnnotationsValidator />

            <div class="mb-4">
                <label class="form-label">Логин:</label>
                <ValidationMessage For="@(() => userModel.Login)" />
                <input class="form-control" type="text" placeholder="Введите логин" @bind-value="userModel.Login" />
            </div>

            <div class="mb-4">
                <label class="form-label">Пароль:</label>
                <ValidationMessage For="@(() => userModel.Password)" />
                <input class="form-control mb-1" type="password" placeholder="Введите пароль" @bind-value="userModel.Password" />

                <ValidationMessage For="@(() => userModel.ConfirmPassword)" />
                <input class="form-control" type="password" placeholder="Повторите пароль" @bind-value="userModel.ConfirmPassword" />
            </div>

            <div class="mb-4">
                <label class="form-label">Электронная почта:</label>
                <ValidationMessage For="@(() => userModel.Email)" />
                <input class="form-control" type="text" placeholder="Введите почту" @bind-value="userModel.Email" />
            </div>

            <div class="mb-4">
                <ValidationMessage For="@(() => userModel.RuleAccept)" />
                <input type="checkbox" class="form-check-input" id="accept-rule" @bind-value="userModel.RuleAccept">
                <label class="form-check-label" for="accept-rule">Я ознакомился с правилами и принимаю их.</label>
            </div>

            <button class="btn btn-dark" type="submit">Регистрация</button>
        </EditForm>
    </div>
    <div class="col-3"></div>

</div>



@code {

    [Parameter]
    public EventCallback<bool> RegisterSuccess { get; set; }

    UserModel userModel = new UserModel();
    ResponseErrorModel responseError = new ResponseErrorModel();


    public async Task OnValidAsync(){

        var response = await http.PostAsJsonAsync(http.BaseAddress + "user/adduser", userModel);

        if(response.IsSuccessStatusCode){

            await RegisterSuccess.InvokeAsync(true);

        } else {

            var errorString = await response.Content.ReadAsStringAsync();
            var responseError = JsonSerializer.Deserialize<ResponseErrorModel>(errorString, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });

        }


    }

}
